//
// Logo
//

@import '../../../styles/mixins';
@import '../../../styles/functions';

.logo {
  &--area-header &__img {
    min-width: px-to-rem(190px);
    max-width: px-to-rem(190px);
  }

  &--area-header-single &__img {
    min-width: px-to-rem(50px);
    max-width: px-to-rem(50px);
  }

  &--area-footer &__img {
    min-width: px-to-rem(225px);
    max-width: px-to-rem(225px);
  }

  /**
   *
   * Responsive
   *
   */
  @include small-mobile {
    &--area-header &__img {
      min-width: px-to-rem(170px);
      max-width: px-to-rem(170px);
    }
  }
}
