//
// Loader
//

@import '../../../styles/functions';

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text {
    font-size: px-to-rem(10px);
    font-weight: 400;
    line-height: px-to-rem(22px);
    color: #515151;
  }
}
