//
// FAQ Card
//

@import '../../../styles/mixins';
@import '../../../styles/functions';

.faq-card {
  border: 1px solid #ececec;
  border-radius: 10px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  transition: 225ms;

  &:hover {
    border-color: #e1e1e1;
  }

  &.is-active &__arrow-icon {
    transform: rotateX(180deg);
  }

  &__header {
    padding: px-to-rem(10px) px-to-rem(15px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    font-size: px-to-rem(18px);
    font-weight: 500;
    line-height: px-to-rem(28px);
    color: #000;
  }

  &__text {
    font-size: px-to-rem(14px);
    font-weight: 400;
    line-height: px-to-rem(24px);
    color: #4c4c4c;

    &--small {
      font-size: px-to-rem(12px);
      line-height: px-to-rem(22px);
    }
  }

  &__arrow-icon {
    margin-left: px-to-rem(5px);
    display: flex;
    transition: transform 500ms;
  }

  &__icon {
    color: #000;
    transition: color 425ms;
  }

  &__main {
    height: 0;
    overflow: hidden;
    transition: height 600ms;

    &-inner {
      border-top: 1px solid #f0f0f0;
      padding: px-to-rem(15px);
      display: flex;
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    &-item:not(:first-child) {
      margin-top: px-to-rem(10px);
    }
  }

  /**
   *
   * Responsive
   *
   */
  @include small-mobile {
    &__title {
      font-size: px-to-rem(16px);
      line-height: px-to-rem(26px);
    }

    &__text {
      font-size: px-to-rem(12px);
      line-height: px-to-rem(20px);

      &--small {
        font-size: px-to-rem(10px);
        line-height: px-to-rem(18px);
      }
    }
  }
}
