//
// Header
//

@import '../../../styles/mixins';
@import '../../../styles/functions';

.header {
  height: px-to-rem(80px);
  background-color: #303030;
  display: flex;
  align-items: center;

  &__horizontal-line {
    width: 1px;
    height: px-to-rem(20px);
    margin: 0 px-to-rem(15px);
    background-color: rgb(255, 255, 255, 0.1);
  }

  &__brace {
    margin: 0 px-to-rem(15px);
    font-size: px-to-rem(32px);
    color: #3b3b3b;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
  }

  &__navigation {
    --text-color: #b5b5b5;
    display: flex;
    align-items: center;

    &-inner {
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }

    &-inner:hover &-text,
    &-inner:hover &-icon {
      color: #fff;
    }

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      transition: all 325ms;

      &:not(:first-child) {
        margin-left: px-to-rem(15px);
      }

      &:hover {
        cursor: pointer;
        --text-color: #fff;
      }
    }

    &-item.is-active {
      pointer-events: none;
    }

    &-item.is-active &-text {
      --text-color: #fff;
    }

    &-text {
      font-size: px-to-rem(15px);
      font-weight: 400;
      line-height: px-to-rem(26px);
      color: var(--text-color);
      transition: all 225ms;
    }

    &-icon {
      margin-left: px-to-rem(2px);
      display: flex;
      font-size: px-to-rem(12px);
      color: #b5b5b5;
      transition:
        color 225ms,
        transform 425ms;
    }
  }

  /**
   *
   * Responsive
   *
   */
  @include mobile() {
    &__brace {
      margin: 0 px-to-rem(10px);
    }

    &__navigation {
      &-text {
        font-size: px-to-rem(14px);
        line-height: px-to-rem(18px);
      }
    }
  }

  @include smallMobile() {
    &__brace {
      margin: 0 px-to-rem(10px);
      font-size: px-to-rem(20px);
    }

    &__navigation {
      &-text {
        width: max-content;
        font-size: px-to-rem(12px);
        line-height: px-to-rem(16px);
      }
    }
  }
}
