//
// Box
//

@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/functions';

.box {
  padding: px-to-rem(20px);
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: auto;

  & > *:not(:first-child) {
    margin-top: px-to-rem(10px);
  }

  &__title {
    font-size: px-to-rem(16px);
    font-weight: 500;
    line-height: px-to-rem(22px);
    color: #4c4c4c;

    &--size-medium {
      font-size: px-to-rem(18px);
      line-height: px-to-rem(24px);
    }
  }

  &__text {
    font-size: px-to-rem(14px);
    font-weight: 400;
    line-height: px-to-rem(22px);
    color: #4c4c4c;
  }

  &__list {
    padding-left: px-to-rem(3px);
    display: flex;
    flex-direction: column;

    &-item {
      position: relative;
      display: flex;
      align-items: flex-start;

      &::before {
        content: '';
        min-width: px-to-rem(5px);
        max-width: px-to-rem(5px);
        height: px-to-rem(5px);
        margin-top: px-to-rem(9px);
        margin-right: px-to-rem(5px);
        border-radius: 999px;
        background-color: #4c4c4c;
      }
    }
  }

  &__icon {
    font-size: px-to-rem(18px);
    display: flex;
    color: #000000;

    &--red {
      color: $color-red;
    }

    &--green {
      color: $color-green;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: #ececec;
  }

  &__tabs {
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;

    &--commit-generator {
      margin-bottom: 15px;
    }

    .tabs__switcher {
      border-bottom: 1px solid #ececec;

      &-item:first-child {
        border-radius: 8px 0 0 0;
      }

      &-item:last-child {
        border-radius: 0 8px 0 0;
      }
    }
  }

  /**
   *
   * Responsive
   *
   */
  @include mobile() {
    padding: px-to-rem(15px);

    &__tabs {
      .tabs__switcher {
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        border-bottom: 1px solid #ececec;

        &-item:first-child {
          border-radius: 8px 8px 0 0;
        }

        &-item:last-child {
          border-radius: 0;
        }
      }
    }
  }

  @include smallMobile() {
    &__title {
      font-size: px-to-rem(14px);
      font-weight: 500;
      line-height: px-to-rem(20px);
      color: #4c4c4c;

      &--size-medium {
        font-size: px-to-rem(16px);
        line-height: px-to-rem(22px);
      }
    }

    &__text {
      font-size: px-to-rem(12px);
      font-weight: 400;
      line-height: px-to-rem(18px);
      color: #4c4c4c;
    }

    &__list {
      &-item::before {
        margin-top: px-to-rem(7px);
      }
    }
  }
}
