//
// Box
//

@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/functions';

.box {
  padding: px-to-rem(20px);
  border: 1px solid #0000001a;
  border-radius: 10px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  overflow: auto hidden;

  > *:not(:first-child) {
    margin-top: px-to-rem(10px);
  }

  &.is-disable-overlay {
    position: relative;
    pointer-events: none;
    overflow: hidden !important;
  }

  &.is-disable-overlay > * {
    user-select: none;
  }

  &__title {
    font-size: px-to-rem(16px);
    font-weight: 500;
    line-height: px-to-rem(22px);
    color: #4c4c4c;

    &--size-medium {
      font-size: px-to-rem(18px);
      line-height: px-to-rem(24px);
    }
  }

  &__text {
    font-size: px-to-rem(14px);
    font-weight: 400;
    line-height: px-to-rem(22px);
    color: #4c4c4c;
  }

  &__list {
    padding-left: px-to-rem(3px);
    display: flex;
    flex-direction: column;

    &--type-circle &-item::before {
      content: '';
      min-width: px-to-rem(5px);
      max-width: px-to-rem(5px);
      height: px-to-rem(5px);
      margin-top: px-to-rem(9px);
      margin-right: px-to-rem(5px);
      border-radius: 999px;
      background-color: #4c4c4c;
    }

    &--type-line &-item::before {
      content: '';
      min-width: px-to-rem(15px);
      max-width: px-to-rem(15px);
      height: px-to-rem(2px);
      margin-top: px-to-rem(10px);
      margin-right: px-to-rem(7px);
      background-color: #c9c9c9;
    }

    &-item {
      position: relative;
      display: flex;
      align-items: flex-start;
    }
  }

  &__icon {
    font-size: px-to-rem(18px);
    display: flex;
    color: #000;

    &--red {
      color: $color-red;
    }

    &--green {
      color: $color-green;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: #ececec;
  }

  &__tabs {
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;

    &--commit-generator {
      margin-bottom: 15px;
    }

    .tabs__switcher {
      border-bottom: 1px solid #ececec;

      &-item:first-child {
        border-radius: 8px 0 0;
      }

      &-item:last-child {
        border-radius: 0 8px 0 0;
      }
    }
  }

  &__disable-overlay {
    position: absolute;
    inset: px-to-rem(-20px) 0 0;
    width: 100%;
    height: calc(100% + 20px);
    padding: px-to-rem(30px);
    border-radius: 10px;
    background-color: #ffffff40;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
  }

  /**
   *
   * Responsive
   *
   */
  @include mobile {
    padding: px-to-rem(15px);

    &__tabs {
      .tabs__switcher {
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        border-bottom: 1px solid #ececec;

        &-item:first-child {
          border-radius: 8px 8px 0 0;
        }

        &-item:last-child {
          border-radius: 0;
        }
      }
    }
  }

  @include small-mobile {
    &__title {
      font-size: px-to-rem(14px);
      font-weight: 500;
      line-height: px-to-rem(20px);
      color: #4c4c4c;

      &--size-medium {
        font-size: px-to-rem(16px);
        line-height: px-to-rem(22px);
      }
    }

    &__text {
      font-size: px-to-rem(12px);
      font-weight: 400;
      line-height: px-to-rem(18px);
      color: #4c4c4c;
    }

    &__list {
      &-item::before {
        margin-top: px-to-rem(7px);
      }
    }
  }
}
