//
// Components
//

@import './mixins';
@import './functions';

.form {
  display: flex;
  flex-direction: column;

  &.is-dark &__label {
    color: #e3e3e3;
  }

  &.is-dark &__help-message {
    color: #e3e3e3;
  }

  &__label {
    margin-bottom: px-to-rem(5px);
    font-size: px-to-rem(16px);
    font-weight: 500;
    line-height: px-to-rem(26px);
    color: #000000;
  }

  &__group {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: px-to-rem(15px);
    }

    &--row {
      flex-direction: row;
    }

    &--between {
      justify-content: space-between;
    }
  }

  &__help-message {
    font-size: px-to-rem(12px);
    font-weight: 400;
    line-height: px-to-rem(22px);
    color: #000000;

    &--error {
      color: $color-red !important;
    }
  }

  /**
   *
   * Responsive
   *
   */
  @include smallMobile() {
    &__label {
      font-size: px-to-rem(14px);
      line-height: px-to-rem(24px);
    }

    &__help-message {
      font-size: px-to-rem(10px);
      line-height: px-to-rem(20px);
    }
  }
}
