//
// Global
//

@import './functions';

@font-face {
  font-display: swap;
  font-family: Inter;
  font-weight: 400;
  src: url('../assets/fonts/inter-regular.ttf');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-weight: 500;
  src: url('../assets/fonts/inter-medium.ttf');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-weight: 600;
  src: url('../assets/fonts/inter-semibold.ttf');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-weight: 700;
  src: url('../assets/fonts/inter-bold.ttf');
}

body {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  font-size: $base-font-size-value;
  letter-spacing: -0.5px;
}

.main {
  flex: 1;
}

@media (width >= 1400px) {
  .container {
    max-width: $container-size;

    &--medium {
      max-width: $container-size-medium;
    }
  }
}

@media (width >= 768px) {
  .container {
    &--medium {
      max-width: $container-size-medium;
    }
  }
}

.toaster {
  font-family: Inter, sans-serif;
  font-size: px-to-rem(14px);

  /**
   *
   * Responsive
   *
   */
  @include mobile {
    inset: 0;
  }
}
