//
// Mixins
//

@mixin mobile-or-tablet() {
  @media (width <= 991px) {
    @content;
  }
}

@mixin mobile() {
  @media (width <= 768px) {
    @content;
  }
}

@mixin small-mobile() {
  @media (width <= 325px) {
    @content;
  }
}

@mixin desktop() {
  @media (width >= 992px) {
    @content;
  }
}

@mixin disable-autofill($text-color: #000) {
  caret-color: $text-color;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: $text-color;
    transition: background-color 5000s ease-in-out 0s !important;
  }
}
