//
// Variables
//

$container-size: 850px;
$container-size-medium: 660px;
$base-font-size-value: 16px;

/**
 *
 * Colors
 *
 */
$color-primary: #637afa;
$color-primary-10: #637afa1a;
$color-primary-hover: #4c5ec7;
$color-orange: #ff8700;
$color-orange-10: #ff87001a;
$color-red: #d10000;
$color-light-red: #ff6161;
$color-green: #00bc3b;
$color-green-10: #00bc3b1a;
$color-dark-green: #0e9c57;
