//
// Variables
//

$container-size: 850px;
$container-size-medium: 660px;
$base-font-size-value: 16px;

/**
 *
 * Colors
 *
 */
$color-primary: #637afa;
$color-primary-10: rgb(99, 122, 250, 0.1);
$color-primary-hover: #4c5ec7;
$color-orange: #ff8700;
$color-orange-10: rgb(255, 135, 0, 0.1);
$color-red: #d10000;
$color-light-red: #ff6161;
$color-green: #00bc3b;
$color-green-10: rgb(0, 188, 59, .1);
$color-dark-green: #0e9c57;
