//
// Heading Title
//

@import '../../../styles/mixins';
@import '../../../styles/functions';

.heading-title {
  margin-bottom: px-to-rem(15px);
  display: flex;
  align-items: center;
  white-space: nowrap;

  &__text {
    font-size: px-to-rem(24px);
    font-weight: 500;
    line-height: px-to-rem(34px);
    color: #000000;
  }

  &__line {
    width: 100%;
    height: 1px;
    margin-left: px-to-rem(15px);
    background-color: #ececec;
  }

  /**
   *
   * Responsive
   *
   */
  @include smallMobile() {
    &__text {
      font-size: px-to-rem(20px);
      line-height: px-to-rem(30px);
    }
  }

  @include mobile() {
    &__text {
      max-width: px-to-rem(200px);
      display: inline-block;
      vertical-align: top;
      text-decoration: inherit;
      text-wrap: balance;
    }
  }
}
