//
// Dropdown Menu
//

@import '../../../styles/mixins';
@import '../../../styles/functions';

.dropdown-menu {
  position: relative;

  &.is-active &__menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  &.is-active &__arrow-icon {
    transform: rotateX(180deg);
  }

  &__menu {
    position: absolute;
    top: calc(100% + var(--spacing-from-top, 100%));
    left: var(--spacing-from-left, 5px);
    min-width: max-content;
    max-width: px-to-rem(200px);
    padding: px-to-rem(5px);
    border-radius: 8px;
    background-color: #3f3f3f;
    display: flex;
    flex-direction: column;
    z-index: 250;
    opacity: 0;
    transform: translateY(5px);
    visibility: hidden;
    transition: opacity, transform, 325ms;
  }

  &__item {
    --text-color: #7d7d7d;

    padding: px-to-rem(7px);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 225ms;

    &:hover {
      cursor: pointer;

      --text-color: #bebebe;
    }

    &.is-selected {
      --text-color: #fff;

      background-color: #4f4f4f;
      pointer-events: none;
    }
  }

  &__text {
    font-size: px-to-rem(16px);
    font-weight: 400;
    color: var(--text-color);
    transition: color 225ms;
  }

  &__arrow-icon {
    transition: transform 425ms;
  }

  /** 
   *
   * Responsive
   *
   */
  @include mobile {
    &__text {
      font-size: px-to-rem(14px);
    }
  }

  @include small-mobile {
    &__text {
      font-size: px-to-rem(12px);
    }
  }
}
