//
// Tooltip
//

@import '../../../styles/mixins';
@import '../../../styles/functions';

.tooltip {
  position: relative;

  &:hover &__menu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  &--position-top &__menu {
    left: 50%;
    bottom: calc(var(--inner-height) + 5px);
    transform: translateX(-50%) scale(0.97);
  }

  &--position-top:hover &__menu {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }

  &--position-top-left &__menu {
    left: -10px;
    bottom: calc(var(--inner-height) + 5px);
  }

  &--position-top-right &__menu {
    right: -10px;
    bottom: calc(var(--inner-height) + 5px);
  }

  &--position-bottom &__menu {
    top: calc(var(--inner-height) + 5px);
    left: 50%;
    transform: translateX(-50%) scale(0.97);
  }

  &--position-bottom:hover &__menu {
    transform: translateX(-50%) scale(1);
  }

  &--position-bottom-left &__menu {
    top: calc(var(--inner-height) + 5px);
    left: -10px;
  }

  &--position-bottom-right &__menu {
    top: calc(var(--inner-height) + 5px);
    right: -10px;
  }

  &__inner {
    display: flex;
  }

  &__menu {
    position: absolute;
    width: max-content;
    max-width: px-to-rem(230px);
    padding: px-to-rem(15px);
    border-radius: 8px;
    background-color: #454545;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    z-index: 500;
    opacity: 0;
    transform: scale(0.97);
    transition: all 325ms;
    pointer-events: none;

    & > *:not(:first-child) {
      margin-top: px-to-rem(10px);
    }
  }

  &__text {
    font-size: px-to-rem(12px);
    font-weight: 400;
    line-height: px-to-rem(16px);
    color: #b8b8b8;
  }

  /**
   *
   * Responsive
   *
   */
  @include smallMobile() {
    &__menu {
      padding: px-to-rem(10px);
    }

    &__text {
      font-size: px-to-rem(10px);
      line-height: px-to-rem(14px);
    }
  }
}
