//
// Button
//

@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/functions';

.button {
  border: 0;
  outline: 0;
  padding: px-to-rem(8px) px-to-rem(15px);
  border-radius: px-to-rem(8px);
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: px-to-rem(16px);
  font-weight: 400;
  text-align: center;
  transition: 225ms;

  &:hover {
    cursor: pointer;
  }

  &.has-rounded {
    border-radius: 999px;
  }

  &.has-full-width {
    width: 100%;
  }

  &--theme-primary {
    background-color: $color-primary;
    color: #fff;

    &:hover {
      background-color: $color-primary-hover;
    }
  }

  &--theme-white {
    background-color: #fff;
    color: #000;

    &:hover {
      background-color: #ececec;
    }
  }

  &--theme-gray {
    background-color: #747474;
    color: #fff;

    &:hover {
      background-color: #555;
      color: #fff;
    }
  }

  &--theme-green {
    background-color: #0e9c57;
    color: #fff;

    &:hover {
      background-color: #0b7944;
      color: #fff;
    }
  }

  &--theme-ghost-dark {
    background-color: #565656;
    color: #dadada;

    &:hover {
      background-color: #606060;
      color: #fff;
    }
  }

  &--theme-ghost-gray {
    background-color: #ececec;
    color: #000;

    &:hover {
      background-color: #dfdfdf;
      color: #000;
    }
  }

  &--theme-gemini {
    position: relative;
    background: linear-gradient(90deg, #688ae9, #c66d7b);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    z-index: 1;

    &:hover::before {
      opacity: 0.2;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #688ae9, #c66d7b);
      opacity: 0.1;
      transition: opacity 225ms;
    }
  }

  &--size-small {
    border-radius: 5px;
    padding: px-to-rem(5px) px-to-rem(10px);
    font-size: px-to-rem(14px);
  }

  &--size-small &__icon {
    font-size: px-to-rem(16px);
  }

  &--size-medium {
    padding: px-to-rem(10px) px-to-rem(15px);
  }

  &--size-medium &__icon {
    font-size: px-to-rem(18px);
  }

  &--size-as-font-small {
    font-size: px-to-rem(14px);
  }

  &__icon {
    font-size: px-to-rem(22px);
    display: flex;

    &--align-left {
      margin-right: px-to-rem(3px);
    }

    &--align-right {
      margin-left: px-to-rem(3px);
    }
  }

  /**
   *
   * Responsive
   *
   */
  @include small-mobile {
    font-size: px-to-rem(14px);

    &--size-small {
      font-size: px-to-rem(12px);
    }
  }
}

.button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
