//
// Switch
//

@import '../../../styles/variables';
@import '../../../styles/functions';

.switch {
  &__input:checked ~ &__inner &__circle,
  &__input[value='true'] ~ &__inner &__circle {
    transform: translateX(calc(100% + 4px));
  }

  &__input:checked ~ &__inner,
  &__input[value='true'] ~ &__inner {
    background-color: $color-primary;
  }

  &__input {
    display: none;
  }

  &__inner {
    min-width: px-to-rem(34px);
    max-width: px-to-rem(34px);
    height: px-to-rem(18px);
    padding: px-to-rem(3px);
    border-radius: 999px;
    background-color: #e3e3e3;
    display: flex;
    align-items: center;
    transition: all 225ms;

    &:hover {
      cursor: pointer;
      background-color: #d7d7d7;
    }
  }

  &__circle {
    min-width: px-to-rem(12px);
    max-width: px-to-rem(12px);
    height: 100%;
    border-radius: 999px;
    background-color: #fff;
    transition: all 325ms;
  }
}
