//
// Link
//

@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/functions';

.link {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: px-to-rem(14px);
  font-weight: 400;
  color: #000;
  transition: color 325ms;

  &:hover &__icon {
    transform: translateX(1px) translateY(-1px);
  }

  &--size-small {
    font-size: px-to-rem(12px);
  }

  &--size-medium {
    font-size: px-to-rem(16px);
  }

  &--size-medium &__icon {
    font-size: px-to-rem(18px);
  }

  &--variant-primary-bottom-line {
    color: $color-primary;
  }

  &--variant-primary-bottom-line::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $color-primary;
    transition: background-color 325ms;
  }

  &--variant-primary-bottom-line:hover {
    color: $color-primary-hover;
  }

  &--variant-primary-bottom-line:hover::before {
    background-color: $color-primary-hover;
  }

  &--variant-gray {
    color: #b6b6b6;

    &:hover {
      color: #fff;
    }
  }

  &__icon {
    font-size: px-to-rem(14px);
    display: flex;
    transition: transform 325ms;
  }

  /**
   *
   * Responsive
   *
   */
  @include small-mobile {
    font-size: px-to-rem(12px);
  }
}
