//
// Modal
//

@import '../../../styles/mixins';
@import '../../../styles/functions';

.modal {
  .is-with-spacing:not(:first-child) {
    margin-top: 15px;
    display: block;
  }

  &__item {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: #000000bf;
    display: none;
    justify-content: center;
    overflow: hidden auto;
    opacity: 0;
    transition: opacity 225ms;
    z-index: 350;

    // used to prevent modals from overlapping.
    &:not(:last-child) {
      opacity: 0 !important;
      visibility: hidden;
    }

    &.is-show {
      display: flex;
    }

    &.is-active {
      opacity: 1;
    }
  }

  &__item.is-active &__inner {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__inner {
    min-width: px-to-rem(475px);
    max-width: px-to-rem(475px);
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 15px;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.95);
    transition: opacity, transform, 325ms;
  }

  &__header {
    padding: px-to-rem(20px);
    border-bottom: 1px solid #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    min-width: px-to-rem(24px);
    max-width: px-to-rem(24px);
    height: px-to-rem(24px);
    border-radius: 999px;
    background-color: #ffffff1a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bbb;
    transition: background-color 225ms;

    &:hover {
      cursor: pointer;
      background-color: #ffffff26;
    }
  }

  &__title {
    font-size: px-to-rem(24px);
    font-weight: 500;
    line-height: px-to-rem(34px);
    color: #fff;

    &--small {
      font-size: px-to-rem(20px);
      line-height: px-to-rem(30px)
    }

    &--medium {
      font-size: px-to-rem(22px);
      line-height: px-to-rem(32px);
    }
  }

  &__text {
    font-size: px-to-rem(16px);
    font-weight: 400;
    line-height: px-to-rem(22px);
    color: #b6b6b6;
  }

  &__body {
    padding: px-to-rem(20px);
    max-height: px-to-rem(550px);
    overflow: hidden auto;
  }

  &__list {
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      align-items: flex-start;

      &::before {
        content: '';
        width: 20px;
        height: 2px;
        margin-top: 10px;
        margin-right: 10px;
        background-color: $color-primary;
      }

      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }

  &__footer {
    padding: px-to-rem(20px);
    border-top: 1px solid #181818;

    &.is-used-inner {
      margin-left: px-to-rem(-20px);
      margin-right: px-to-rem(-20px);
      margin-bottom: px-to-rem(-20px);
    }
  }

  /**
   *
   * Responsive
   *
   */
  @include mobile {
    &__item {
      padding: 0;
      overflow: hidden;
    }

    &__inner {
      min-width: 100%;
      max-width: 100%;
      margin-bottom: initial;
      border-radius: 15px 15px 0 0;
    }

    &__body {
      max-height: px-to-rem(550px);
    }
  }

  @include small-mobile {
    &__header {
      padding: px-to-rem(15px);
    }

    &__close {
      min-width: px-to-rem(20px);
      max-width: px-to-rem(20px);
      height: px-to-rem(20px);
      font-size: px-to-rem(14px);
    }

    &__title {
      font-size: px-to-rem(20px);
      line-height: px-to-rem(30px);

      &--medium {
        font-size: px-to-rem(16px);
        line-height: px-to-rem(26px);
      }
    }

    &__text {
      font-size: px-to-rem(14px);
      line-height: px-to-rem(20px);
    }

    &__body {
      max-height: px-to-rem(325px);
      padding: px-to-rem(15px);
    }

    &__footer {
      padding: px-to-rem(15px);
    }
  }
}
