//
// Social Media
//

@import '../../../styles/mixins';
@import '../../../styles/functions';

.social-media {
  display: flex;
  align-items: center;

  &--theme-ghost-gray &__item {
    background-color: #f3f3f3;
    color: #616161;

    &:hover {
      background-color: #ececec;
      color: #616161;
    }
  }

  &__item {
    min-width: px-to-rem(32px);
    max-width: px-to-rem(32px);
    height: px-to-rem(32px);
    border-radius: 999px;
    background-color: #3f3f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: px-to-rem(18px);
    color: #bfbfbf;
    transition: 225ms;

    &:not(:first-child) {
      margin-left: px-to-rem(5px);
    }

    &:hover {
      cursor: pointer;
      background-color: #4e4e4e;
      color: #fff;
    }

    &--with-text {
      max-width: initial;
      height: initial;
      padding: px-to-rem(5px) px-to-rem(10px);
    }
  }

  &__icon {
    display: flex;
  }

  &__text {
    margin-left: px-to-rem(5px);
    font-size: px-to-rem(14px);
    font-weight: 500;
    line-height: px-to-rem(24px);
    color: #616161;
  }

  /**
   *
   * Responsive
   *
   */
  @include small-mobile {
    &__text {
      font-size: px-to-rem(12px);
      line-height: px-to-rem(22px);
    }
  }
}
