//
// Footer
//

@import '../../../styles/mixins';
@import '../../../styles/functions';

.footer {
  position: relative;
  padding-top: calc(75px + 75px); // first 75px = ::before top
  padding-bottom: px-to-rem(50px);

  &::before {
    content: '';
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    width: px-to-rem(50px);
    height: px-to-rem(6px);
    margin: 0 auto;
    border-radius: 999px;
    background-color: #303030;
  }

  &__text {
    max-width: px-to-rem(405px);
    font-size: px-to-rem(14px);
    font-weight: 400;
    line-height: px-to-rem(22px);
    color: #4c4c4c;
  }

  /**
   *
   * Responsive
   *
   */
  @include mobile-or-tablet {
    padding-top: calc(px-to-rem(75px) + px-to-rem(25px));
    padding-bottom: px-to-rem(25px);

    &::before {
      top: 50px;
    }
  }

  @include small-mobile {
    &__text {
      font-size: px-to-rem(12px);
      line-height: px-to-rem(20px);
    }
  }
}
