//
// Announcement
//

@import '../../../styles/mixins';
@import '../../../styles/functions';

.announcement {
  padding: 0 px-to-rem(10px);
  height: px-to-rem(50px);
  background-color: #5a5a5a;
  display: flex;
  align-items: center;
  transition: all 425ms;

  &.has-closed {
    visibility: hidden;
  }

  &__text {
    font-size: px-to-rem(14px);
    font-weight: 400;
    line-height: px-to-rem(22px);
    color: #fff;
  }

  &__close {
    min-width: px-to-rem(27px);
    max-width: px-to-rem(27px);
    height: px-to-rem(27px);
    margin-left: px-to-rem(10px);
    border-radius: 999px;
    background-color: #616161;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: px-to-rem(19px);
    color: #dddddd;
    transition: all 225ms;

    &:hover {
      cursor: pointer;
      background-color: #6d6d6d;
    }
  }

  /**
   *
   * Responsive
   *
   */
  @include smallMobile() {
    &__close {
      min-width: px-to-rem(24.5px);
      max-width: px-to-rem(24.5px);
      height: px-to-rem(24.5px);
    }
  }
}
