//
// Hero
//

@import '../../../styles/mixins';
@import '../../../styles/functions';

.hero {
  margin-bottom: px-to-rem(40px);
  padding: px-to-rem(50px);
  border-top: 1px solid #181818;
  border-radius: 0 0 30px 30px;
  background-color: #303030;
  display: flex;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin-bottom: px-to-rem(5px);
    font-size: px-to-rem(40px);
    font-weight: 500;
    line-height: px-to-rem(50px);
    color: #fff;
  }

  &__text {
    font-size: px-to-rem(16px);
    font-weight: 400;
    line-height: px-to-rem(22px);
    color: #b8b8b8;
  }

  &__button-container {
    margin-top: calc(px-to-rem(20px) - px-to-rem(5px));
    display: flex;
    flex-wrap: wrap;

    > * {
      margin-top: px-to-rem(5px);
      margin-left: px-to-rem(5px);
      margin-right: px-to-rem(5px);
    }
  }

  /**
   *
   * Responsive
   *
   */
  @include mobile {
    padding: px-to-rem(50px) 1rem;
    border-radius: 0 0 20px 20px;

    &__title {
      font-size: px-to-rem(32px);
      line-height: px-to-rem(42px);
    }

    &__text {
      font-size: px-to-rem(14px);
      line-height: px-to-rem(24px);
    }
  }

  @include small-mobile {
    padding: px-to-rem(35px) 0;

    &__title {
      font-size: px-to-rem(28px);
      line-height: px-to-rem(38px);
    }
  }
}
